@import "./flight-item-parts/flight-item-container";

.flight-item{
    display: grid;
    grid-template-columns: 15% 9.2% 35% 10% 16% 3%;
    flex-flow: wrap;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    box-shadow: 6px 6px 16px rgba(189, 189, 189, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
}

@media(max-width: 1265px){
    .flight-item{
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
    }
}


@media(max-width: 1065px){
    .flight-item{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: $lg){
    .flight-item{
        
    }
}

@media(max-width: 811px){
    .flight-item{
        
    }
}

@media(max-width: $sm){
}